@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('/fonts/abhaya-libre-regular.woff2') format('woff2'),
       url('/fonts/abhaya-libre-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Abhaya Libre', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
